@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Climate+Crisis&family=Dela+Gothic+One&display=swap');

body {
    font-family: 'Dela Gothic One';
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#receipt {
    display: block;
    height: 800px;
    width: 500px;
    background-color: #FFFFFF;
}


.pmf{
    margin: auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.pmfr{
    display: inline-flex;
    width: 7rem;
    height: 2.5rem;
    margin-top: 1rem;
}

.pmfr input {
    visibility:hidden; 
    width:0;
}

.pmfr label {
    color: #000000;
    width: 7.0625rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: #EDF2F3;
    text-align: center;
    line-height: 200%;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
}

.pmfr label:hover {
    color: #AFD8F2;
}

.pmfr input:checked + label {
    flex-shrink: 0;
    border-radius: 2.5rem;
    background: #5289B5;
    color: #FFFFFF;
    margin: auto;
}
